select {
   background: transparent;
   width: 350px;
   width: 100%;
   padding: 5px 5px 5px 30px;
   line-height: 1;
   border: 0;
   outline: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   font-size: 1.2em;
   text-transform: uppercase;
   border-bottom: 2px solid #000;
   background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-128.png) no-repeat left;
   background-size: 20px 20px;
   font-weight: 900;
}

option{
  color: #1c3664;
}
